.button {
  display: inline-block;
  min-width: 140px;
  padding: 18px 36px;
  padding-bottom: 16px;
  border-width: 1px;
  border-style: solid;
  @extend %font-medium;
  @extend %font-size-text-lg;
  text-align: center;
  white-space: nowrap;
  transition: .2s ease-out;

  @include breakpoint-down(sm) {
    min-width: 100px;
    padding: 13px 28px;
  }

  &--primary {
    border-color: $color-main;
    color: $color-background;
    background-color: $color-main;
  }

  &--secondary {
    border-color: $color-border;
    color: $color-text-main;
    background-color: $color-background;
  }

  &--sign-up {
    padding-left: 30px;
    padding-right: 20px;
    display: inline-flex;
    gap: 44px;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 24px;
      // height: 24px;
      aspect-ratio: 1 / 1;
      background-image: url('@img/icons.svg#arrow-right');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &--google {
    padding-left: 34px;
    padding-right: 39px;
    padding-top: 15px;
    padding-bottom: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    &::before {
      content: '';
      display: block;
      width: 28px;
      aspect-ratio: 1 / 1;
      background-image: url('@img/icons.svg#google');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &:active {
    border-color: darken($color-text-main, 10%);
    color: $color-background;
    background-color: darken($color-text-main, 10%);
  }

  &:focus,
  &:hover:not(:disabled) {
    border-color: $color-text-main;
    color: $color-background;
    background-color: $color-text-main;
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}

@include breakpoint-down(sm) {
  .button--google {
    padding: 12px 20px;
    // font-size: 18px;
  }

  .button--google::before {
    display: none;
  }
}