.input {
  --icon-is-set: 0;

  max-width: 100%;
  padding: 20px 30px 20px calc(30px + 35px * var(--icon-is-set));
  border: 1px solid $color-border;
  @extend %font-regular;
  @extend %font-size-text-sm;
  color: $color-text-secondary;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 30px 20px;
  resize: none;
  transition: .3s ease;

  &::placeholder {
    @extend %font-regular;
    @extend %font-size-text-sm;
    color: $color-text-secondary;
  }

  &:focus {
    border-color: $color-text-main;
  }

  &--size--md {
    width: 460px;
    min-width: 200px;
  }

  &--size--lg {
    width: 720px;
  }

  &--size--xl {
    width: 930px;
  }

  &--size--stretch {
    width: 100%;
  }

  &--icon {
    --icon-is-set: 1;
  }

  &--icon--search {
    --icon-is-set: 1;
    background-image: url('@img/icons.svg#search');
  }

  &--icon--linkedin {
    --icon-is-set: 1;
    background-image: url('@img/icons.svg#linkedin');
  }

  &--icon--twitter {
    --icon-is-set: 1;
    background-image: url('@img/icons.svg#twitter');
  }

  &--icon--user {
    --icon-is-set: 1;
    background-image: url('@img/icons.svg#user');
  }
}